@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    color: #222;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    background: #E6DADA;
    background: -webkit-linear-gradient(to top, #274046, #E6DADA);
    background: linear-gradient(to top, #274046, #E6DADA);
}

.wrapper{
    width: 1280px;
    margin: 50px auto;
}

header{
    position: relative;
}

header .logo{
    font-weight: 600;
    font-size: 20px;
}

header ul.nav{
    float: right;
    list-style: none;
}

header ul.nav li{
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover{
    opacity: 0.5;
}

header .presentation{
    margin: 50px 0;
    background: url('./img/background-2.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #525050;
    position: relative;
}

header .presentation::after{
    content: 'Only the best games for your free time';
    position: absolute;
    top: 200px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

header .presentation::before{
    content: 'at low prices';
    position: absolute;
    top: 350px;
    left: 50px;
    width: 300px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

header .shop-cart-button{
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button:active{
    color: #dc3d3d;
    transform: scale(1.5);
}

header .shop-cart{
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #d8cece;
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 1000;
    padding: 20px;
    padding-bottom: 0;
}

header .shop-cart .empty h2{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

header .shop-cart .item{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

header .shop-cart .item img{
    width: 70px;
    float: left;
    margin-right: 20px;
}

header .shop-cart .item h2{
    font-size: 20px;
    margin-bottom: 10px;
}

header .shop-cart .item p{
    color: #2b2828;
    font-weight: 600;
}

header .shop-cart .item .delete-icon{
    color: #ca5252;
    float: right;
    position: relative;
    top: 0px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover{
    color: #d83030;
    transform: scale(1.5);
}

header .shop-cart .total{
    float: left;
    text-align: right;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.categories div{
    display: inline-block;
    background: #f2f2f2;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}

.categories div:hover{
    border-color: silver;
    transform: scale(1.1);
}

.full-item{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #22222294;
    z-index: 9999;
    overflow: auto;
}

.full-item > div{
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 10px;
}

main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}

main .item{
    width: 22%;
    margin-bottom: 20px;
    background: #dbd9d9;
    overflow: hidden;
    position: relative;
    padding: 10px;
    border-radius: 15px 15px;
    transition: background-color 500ms ease;
}

main .item img,
.full-item img{
    width: 100%;
    border-radius: 15px 15px;
    transition: transform 500ms ease;
    cursor: pointer;
}

main .item:hover{
    background-color: #f5f2f2;
}

main .item img:hover,
.full-item img:hover{
    transform: scale(1.03);
}

main h2, main p, main b,
.full-item h2, .full-item p, .full-item b{
    padding: 10px 20px;
    color: #171717;
}

main b, .full-item b{
    color: #0c8a21;
}

main .add-to-cart,
.full-item .add-to-cart{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover{
    transform: scale(1.5) translateY(-5px);
}

footer{
    text-align: center;
    margin-top: 50px;
    color: #d8cece;
}